/* 
	Document   : project_dashboard
	Created on : 24.06.2011, 01:13:08
	Author     : hquadrat
	Description: Design Project list as draggable boxes

	Inspiration: http://line25.com/tutorials/how-to-create-a-pure-css-polaroid-photo-gallery

*/

#dashboard_container {
	padding: 1em;
	width: 80%;

	background-color: #333;
}

#project_dashboard {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#project_dashboard li {
	float: left;
	position: relative;
	width: 22%;
	height: 350px;
	overflow: auto;
	margin: 0 2% 2% 0;
	background-color: #555;
	border: 2px solid #000000;

	-moz-box-shadow: 0px 2px 15px #fff;

	font-size: 95%;

}

#project_dashboard li ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#project_dashboard li ul li {
	float: none;
	width: 94%;
	height: auto;
	padding: 1%;
	margin: 2%;
	background-color: #666;
	border: 0;

	color: #fff;

	-moz-box-shadow: none;
}

#project_dashboard li ul li .taskdescription {
	font-size: 85%;
}

#project_dashboard li ul li .taskpercentfinished {
	font-size: 70%;
	display: inline-block;
	float: right;
	width: 30px;

	text-align: center;
}

#project_dashboard li h2 {
	background-color: #000000;
	color: #ffffff;
	margin: -2px 0 auto 0;
	padding: 0.3em 0.4em;

	font-size: 90%;
}

#project_dashboard li a.edit, #project_dashboard li h2 a.edit {
	color: #ffffff;
	float: right;
}